body { 
    font-family: 'Lato', sans-serif;
    background: #222;
    color: #fff !important;
}

body > form > div {
    display: flex;
    flex-direction: column;
}

body > form > div + div{
    margin-top: 20px;
}

body {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

input, textarea {
    background: #333;
    border-radius: 4px;
    border: 1px solid #444;
    margin-top: 8px;
    caret-color: #aaa;
    color: #fff;
    padding: 4px;
}

/* Styling main editor */
.editor-toolbar a {
    color: #fff !important;
}

.editor-toolbar {
    border: 1px solid #444;
}

.CodeMirror {
    background: #333;
    color: #fff;
    border: 1px solid #444;
}

.CodeMirror-cursor {
    border-left: 1px solid #aaa;
}

/* Button */
.button {
    display: inline-block;
    padding: 10px 40px;
    color: #008c82;
    text-decoration: none;
    border: 1px solid #008c82;
    border-radius: 2px;
    transition: all 0.4s;
}

.button:hover {
    background: #008c82;
    color: #fff;
}