body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background: #2B2C36;
}

.card {
    border-radius: 10px;
    background: #fff;
    padding: 40px;
    margin: 20px;
}

.card>div {
    display: flex;
    flex-direction: column;
}

.card>div+div {
    margin-top: 20px;
}

.card+.card {
    margin-top: 20px;
}

#submit-file-message {
    opacity: 0;
    transition: 0.2s opacity;
    display: block;
    margin-top: 10px;
}

input,
textarea, select {
    margin: 10px 0 0 0;
    padding: 7px 10px;
}

a {
    color: #2a967b;
}

/* Button */

body>form>*>*+* {
    margin-top: 10px;
}

.ql-editor {
    line-height: 1.6em;
}

.ql-container {
    font-size: 21px;
    font-family: inherit;
    font-weight: 300;
    height: 80%;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql {
    margin: 10px 0;
}