@font-face {
    font-family: "Simplifica";
    src: url("../fonts/simplifica.ttf");
}

h1 {
    font-family: 'Simplifica', Verdana, sans-serif;
    font-size: 4em;
    font-weight: lighter;
    letter-spacing: 0.2em;
    margin: 0;
}

h2 {
    font-family: 'Simplifica', Verdana, sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 0.2em;
    margin: 0;
}

p {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin: 0;
}

/* Front Page */
#particles-js {
    background: #001E1C;
    height: 100%;
}

#frontpage-img {
    position:absolute; 
    filter: saturate(50%);
    height: 100%; 
    right: 0;
    opacity: 0;
    animation: animate-opacity 1.5s linear 1s forwards;
}

@keyframes animate-opacity {
    from {opacity: 0;}
    to {opacity: 100;}
}

#frontpage-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 150px;
    opacity: 0;
    animation: animate-opacity 0.5s linear 0.2s forwards;
    transform: scaleX(1.1) translateX(5%);
}

/* Info Box */

.info-box {
    position: relative;
    width: 100%;
    min-height: 900px;
    padding: 20px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.info-box-header {
    position: absolute;
    left: 150px;
    top: 100px;
}

.info-box-text {
    width: 500px;
}

#glcanvas {
    margin: auto;
}

.header-typing {
    animation: typing-effect 1.0s linear infinite;
    font-family: 'Simplifica', Verdana, sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 10px 0 0 0;
    display: inline-block;
    margin-bottom: 40px;
    font-weight: bold;
}

@media(max-width:1200px) {
    .info-box {
        flex-direction: column;
        padding: 20px 0;
    }
    .info-box-text {
        padding-top: 100px;
        text-align: center;
    }
    .info-box-header {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
    }
}

@keyframes typing-effect {
    0% {border-right: 15px rgba(255,255,255,0.0) solid;}
    49% {border-right: 15px rgba(255,255,255,0.0) solid;}
    50% {border-right: 15px rgba(255,255,255,0.3) solid}
    99% {border-right: 15px rgba(255,255,255,0.3) solid}
    100% {border-right: 15px rgba(255,255,255,0.0) solid;}
}