<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#2a967b">
    <title>Sea of Electrons Blog</title>
    <!-- Loads code highlighter -->
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/dracula.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- My Files -->
    <link rel="stylesheet" type="text/css" href="../css/core.css">
    <link rel="stylesheet" type="text/css" href="../css/blog-post.css">
    <script src="../js/vue.min.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="Website for Eric for his blog and things.">
    <meta name="keywords" content="PCBs, Circuits, Technology, Eric Dyer, Coding, Programming">
    <meta name="author" content="Liam Dyer">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://saghen.com/og-image.png">
    <meta property="og:title" content="Sea of Electrons">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="Website for Eric for his blog and things.">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="https://saghen.com/blog/">
    <meta property="og:url" content="https://saghen.com/blog/">
    <meta property="og:site_name" content="Sea of Electrons">
</head>

<body>
    <header class="scrolled-header">
        <div>
            <a href="/" id="logo">
                <svg viewBox="0 0 105 95">
                    <g>
                        <path style="fill:#fff;" d="M 1.2027119,18.371517 H 66.149217 l -8.55263,14.699824 H 26.459683 L 60.402917,91.469733 H 43.030394 Z"
                        />
                        <path style="fill:#fff;" d="M 46.237625,34.541327 H 28.865105 L 61.471997,90.400663 103.56695,17.436072 94.747052,3.00352 61.471997,60.867371 Z"
                        />
                        <path style="fill:#fff;" d="M 9.7553378,1.800805 1.3363469,16.7679 68.955537,17.035169 53.186627,43.494851 61.605617,58.595571 93.945242,2.068077 Z"
                        />
                    </g>
                </svg>
                <span style="white-space: nowrap;">Sea of Electrons</span>
            </a>
            <div id="header-search">
                <a onclick="document.querySelector('#search').focus()" style="cursor: pointer;">
                    <i class="fas fa-search"></i>
                    <span>Search</span>
                </a>
                <input id="search" type="text">
            </div>
        </div>
    </header>
    <div id="wrapper" v-show="loaded">
        <div style="padding: 110px 40px;">
            <div>
                <span style="color: #888;">{{ topic }}</span>
                <h1 id="post-title">{{ title }}</h1>
            </div>
        </div>
        <div id="content-wrapper">
            <div id="content" style="transform: translateY(-60px)">
                <img :src="authorImg" style="border-radius: 60px; width: 120px;">
                <span style="margin-top: 20px; color: #2a967b; line-height: 2em; display: flex; flex-direction: column; text-align: center;">{{ author }}
                    <span style="color: #444;">{{ authorRole }}</span>
                </span>
                <span>{{ dateposted }}</span>
                <img id="splashimage" :src="splashImg">
                <div class="ql-container ql-snow"><div id="blog-content" class="ql-editor"></div></div>
            </div>
        </div>
        <div id="comments-wrapper">
            <div id="comments">
                <h3>Comments</h3>
                <div class="line-seperator"></div>
                <div id="comment-add">
                    <span style="margin-bottom: 20px;">Add a comment</span>
                    <span id="comment-add-incorrect" style="color:#B33A3A; opacity: 0; transition: 0.2s opacity;">Author or Content is missing.</span>
                    <input id="comment-add-name" type="text" placeholder="Name">
                    <input id="comment-add-content" type="text" placeholder="Your comment...">
                    <a class="button-important" v-on:click.prevent="addComment()">Submit</a>
                </div>
                <div class="comment" v-for="(comment, index) in comments">
                    <span>
                        <strong>{{ comment.author }}</strong> on {{ comment.date }}</span>
                    <p>{{ comment.content }}</p>
                    </span>
                    <i class="fas fa-trash-alt delete-button" v-if="isLoggedIn" v-on:click="removeComment(index)"></i>
                </div>
            </div>

            <script>
                let id = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);

                let app = new Vue({
                    el: '#wrapper',
                    data: {
                        author: "",
                        dateposted: "",
                        length: "",
                        authorImg: "",
                        splashImg: "",
                        title: "",
                        authorRole: "",
                        topic: "",
                        comments: [],
                        isLoggedIn: false,
                        loaded: false
                    },
                    methods: {
                        addComment() {
                            let author = document.getElementById('comment-add-name').value;
                            let content = document.getElementById('comment-add-content').value;
                            if (!author || !content) { 
                                document.getElementById('comment-add-incorrect').innerHTML = 'Author or Content is missing.'; document.getElementById('comment-add-incorrect').style.opacity = 1; 
                            }

                            fetch(`/api/blog/addComment?id=${id}`,
                                {
                                    method: 'post',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ author: author, content: content })
                                })
                                .then(res => {
                                    if (!res.ok) { document.getElementById('comment-add-incorrect').innerHTML = 'Something went wrong on the server or you\'re posting too many comments.'; return document.getElementById('comment-add-incorrect').style.opacity = 1; }
                                    document.getElementById('comment-add-name').value = "";
                                    document.getElementById('comment-add-content').value = "";
                                    document.getElementById('comment-add-incorrect').style.opacity = 0;

                                    fetch(`https://${window.location.hostname}/api/blog/data?id=${id}`).then(res => res.json()).then(json => {
                                        Object.assign(this, json);
                                    });
                                });
                        },
                        removeComment(commentId) {
                            fetch(`https://${window.location.hostname}/api/blog/removeComment?id=${id}&commentId=${commentId}`, { credentials: 'same-origin' })
                                .then(() => {
                                    fetch(`https://${window.location.hostname}/api/blog/data?id=${id}`).then(res => res.json()).then(json => {
                                        Object.assign(this, json);
                                    });
                                })
                        }
                    },
                    created() {
                        fetch(`https://${window.location.hostname}/api/blog/data?id=${id}`).then(res => res.json()).then(json => {
                            Object.assign(this, json);

                            document.querySelector('#blog-content').innerHTML = json.content;
                            for (let parent of document.getElementsByTagName('p')) {
                                if (parent.children.length == 0) continue;
                                if (parent.children[0].tagName == 'IMG') parent.style.textAlign = 'center';
                            }

                            fetch(`https://${window.location.hostname}/api/blog/authorInfo?author=${json.author}`).then(res => res.json()).then(authorInfo => {
                                Object.assign(this, authorInfo);
                                this.loaded = true;
                                fetch(`https://${window.location.hostname}/api/auth/isLoggedIn`, { credentials: 'same-origin' })
                                    .then(res => res.json())
                                    .then(json => { this.isLoggedIn = json.success; });
                            });
                        });
                    }
                });


            </script>
        </div>
</body>

</html>